/* Container Styling */
.login-hub {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: 50px auto;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.login-hub h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.login-hub p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  opacity: 0.8;
}

.login-hub a {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 250px;
  height: 100px;
  padding: 15px 25px;
  background: #ffffff;
  color: #2575fc;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-hub a:hover {
  background-color: #2575fc;
  color: white;
}

.login-hub a:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.image-container {
  flex: 1;
  display: flex;
}

.image-container img {
  border-radius: 10px;
  width: 900px;
  height: 650px;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 650px;
  background-color: #c2dee9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

#login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#login-btn:hover {
  background-color: #0056b3;
}
